*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 190, 49);
    width: 400px;
    margin: 40px auto;
    padding: 20px;
}

section #ispis1{
    width: 100%;
    margin: auto;
}

section p{
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}

section div form{
    padding: 20px;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

section div form label{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(47, 66, 170) ;
}

section div form input{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

section div form input[type ="submit"]{
    width: 50%;
    background-color: rgb(62, 81, 190);
    border-style: none;
    color: rgb(240, 232, 232);
    margin: 10px 0px;
}

section div form input[type ="submit"]:hover{
    background-color:rgb(92, 115, 216);
    transition: 0.5s ease;
    cursor: pointer;
}

section table{
    background-color: rgb(66, 61, 61);
    color: whitesmoke;
    margin:auto;
    width: 100%;
}

section td{
    width: 50%;
}

section table td{
    border: 1px solid white;
    padding: 5px;
}


