* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background: #353631;
  font-family: 'Montserrat', sans-serif; }

header {
  padding: 10px; }
  header h1 {
    color: white;
    font-size: 3rem; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 2rem; } }
  header h3 {
    font-size: 2rem;
    color: #fec107; }
    @media (max-width: 768px) {
      header h3 {
        font-size: 1.5rem;
        padding: 5px;
        width: 100%; } }

section {
  background-color: #51524c;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    section {
      padding: 0px; } }
  section #buttons {
    flex: 0 0 30%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      section #buttons {
        flex: 0 0 100%;
        margin: 0; } }
    section #buttons button {
      padding: 15px;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: white;
      width: 100%;
      border-radius: 5px; }
      section #buttons button:hover, section #buttons button:focus {
        background-color: #353631;
        color: #fec107;
        transition: 0.6s ease;
        cursor: pointer; }
      @media (max-width: 768px) {
        section #buttons button {
          font-size: 1rem;
          padding: 5px;
          text-align: center;
          background-color: #fec107;
          color: #353631;
          border-radius: 0; } }
  section #screen {
    background-color: #f8f8f8;
    border-radius: 5px;
    flex: 0 0 50%;
    height: 70vh;
    padding: 5px;
    margin: 10px 0px;
    overflow-y: scroll; }
    @media (max-width: 768px) {
      section #screen {
        flex: 0 0 100%;
        margin: 0;
        height: 50vh; } }
    section #screen ul .me {
      color: red; }
    section #screen ul li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #51524caf;
      color: #f8f8f8;
      padding: 10px;
      margin: 20px;
      border-radius: 0px 10px 10px 10px;
      width: 70%; }
      section #screen ul li p {
        font-size: 1.2rem;
        padding: 10px; }
      section #screen ul li .name {
        font-weight: 500;
        font-size: 1.3rem;
        color: #f8f8f8; }
      section #screen ul li .date {
        font-size: 0.9rem; }
  section #inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    background-color: #353631; }
    section #inputs #formMessage {
      flex: 0 0 40%; }
      @media (max-width: 768px) {
        section #inputs #formMessage {
          flex: 0 0 100%; } }
    section #inputs #formUsername {
      flex: 0 0 40%; }
      @media (max-width: 768px) {
        section #inputs #formUsername {
          flex: 0 0 100%; } }
    section #inputs form {
      margin: 5px 20px;
      padding-top: 25px; }
      @media (max-width: 768px) {
        section #inputs form {
          margin: 5px auto;
          text-align: center; } }
      section #inputs form input {
        border-radius: 25px;
        border: none; }
        section #inputs form input:focus {
          outline: none; }
        @media (max-width: 768px) {
          section #inputs form input {
            justify-content: center; } }
      section #inputs form #inputMessage {
        padding: 15px;
        width: 70%; }
      section #inputs form #inputUsername {
        padding: 15px;
        width: 70%; }
      section #inputs form #btnSend {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107; }
        section #inputs form #btnSend:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }
      section #inputs form #btnUpdate {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107; }
        section #inputs form #btnUpdate:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }

/*# sourceMappingURL=style.css.map */
