* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background: #353631;
  font-family: 'Montserrat', sans-serif; }

header {
  padding: 10px; }
  header h1 {
    color: white;
    font-size: 3rem; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 2rem; } }
  header h3 {
    font-size: 2rem;
    color: #fec107; }
    @media (max-width: 768px) {
      header h3 {
        font-size: 1.5rem;
        padding: 5px;
        width: 100%; } }

section {
  background-color: #51524c;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    section {
      padding: 0px; } }
  section #options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 40%;
    margin: 20px 0px;
    width: 100%; }
    @media (max-width: 768px) {
      section #options {
        flex: 0 0 100%; } }
    section #options #buttons {
      width: 100%; }
      section #options #buttons .selected {
        background-color: #353631;
        color: #fec107; }
      section #options #buttons button {
        padding: 15px;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: white;
        width: 100%;
        border-radius: 5px; }
        section #options #buttons button:hover {
          background-color: #353631;
          color: #fec107;
          transition: 0.6s ease;
          cursor: pointer; }
        @media (max-width: 768px) {
          section #options #buttons button {
            font-size: 1rem;
            padding: 5px;
            text-align: center;
            background-color: #fec107;
            color: #353631;
            border-radius: 0; } }
    section #options #colorForm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin: 20px auto; }
      section #options #colorForm label {
        font-size: 1.3rem;
        color: white;
        padding: 10px; }
      section #options #colorForm #pickColor {
        width: 20%;
        background-color: #353631;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 2px; }
      section #options #colorForm #setColor {
        margin: 5px;
        width: 20%;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107;
        outline: none;
        border: none; }
        section #options #colorForm #setColor:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }
    section #options #formDates {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%; }
      section #options #formDates label {
        font-size: 1.3rem;
        color: white;
        padding: 10px; }
      section #options #formDates #startDate,
      section #options #formDates #endDate {
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 5px;
        outline: none;
        border: none;
        margin: 5px auto; }
        @media (max-width: 768px) {
          section #options #formDates #startDate,
          section #options #formDates #endDate {
            font-size: 1rem;
            padding: 5px; } }
      section #options #formDates #setDate {
        margin: 5px;
        width: 20%;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107;
        outline: none;
        border: none; }
        section #options #formDates #setDate:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }
  section #screen {
    background-color: #f8f8f8;
    border-radius: 5px;
    flex: 0 0 50%;
    height: 70vh;
    padding: 5px;
    margin: 10px 0px;
    overflow-y: scroll;
    position: relative; }
    @media (max-width: 768px) {
      section #screen {
        flex: 0 0 100%;
        margin: 0;
        height: 50vh; } }
    section #screen p {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 1.2rem;
      color: #353631; }
    section #screen ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      section #screen ul li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #51524caf;
        color: #f8f8f8;
        padding: 10px;
        margin: 20px;
        border-radius: 0px 10px 10px 10px;
        width: 55%; }
        @media (max-width: 768px) {
          section #screen ul li {
            width: 80%;
            margin: 5px; } }
        section #screen ul li i {
          font-size: 1rem; }
          section #screen ul li i:hover {
            cursor: pointer;
            color: #353631; }
        section #screen ul li .message {
          font-size: 1.1rem;
          margin: 10px 0px; }
        section #screen ul li .name {
          font-weight: 500;
          font-size: 1.4rem;
          color: #f8f8f8; }
          @media (max-width: 768px) {
            section #screen ul li .name {
              font-size: 1.2rem; } }
        section #screen ul li .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          font-size: 0.9rem;
          align-self: flex-end;
          width: 100%; }
      section #screen ul .me {
        align-self: flex-end;
        border-radius: 10px 0px 10px 10px;
        background-color: #e7be44af;
        color: #353631; }
        section #screen ul .me .message {
          align-self: flex-end; }
        section #screen ul .me .name {
          color: #353631;
          align-self: flex-end; }
        section #screen ul .me .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          align-self: flex-start; }
        section #screen ul .me i:hover {
          color: white; }
  section #inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    background-color: #353631; }
    section #inputs #formMessage {
      flex: 0 0 40%; }
      @media (max-width: 768px) {
        section #inputs #formMessage {
          flex: 0 0 100%; } }
    section #inputs #formUsername {
      flex: 0 0 40%; }
      @media (max-width: 768px) {
        section #inputs #formUsername {
          flex: 0 0 100%; } }
    section #inputs form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 5px;
      padding-top: 25px; }
      @media (max-width: 768px) {
        section #inputs form {
          margin: 5px auto;
          text-align: center; } }
      section #inputs form input {
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1.2rem; }
      section #inputs form textarea {
        outline: none;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 5px;
        width: 70%; }
      section #inputs form #inputMessage {
        width: 70%; }
      section #inputs form #inputUsername {
        padding: 15px;
        width: 70%; }
      section #inputs form #btnSend {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107;
        margin-left: 15px; }
        section #inputs form #btnSend:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }
      section #inputs form #btnUpdate {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #fec107; }
        section #inputs form #btnUpdate:hover {
          background-color: #e7be44af;
          cursor: pointer;
          transition: 0.6s ease; }

/*# sourceMappingURL=style.css.map */
