*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    margin:30px auto;
    width: 80%;
    height: 80vh;
    border: 1px solid yellow;
    overflow-y: scroll;
    #container{

   
        
        #current{
            display: flex;
            align-items: center;
            margin: 20px auto;
    
            img{
                width: 110px;
                height: auto;
            }

            .row{
                .flags{
                    align-self: center;
                    width: 25px;
                    border: 1px solid black;  
                }
            }
        }
    }
    
    
    #containerTwo{
        position: fixed;
        width: 80%;
        height: 80vh;
        margin:30px auto;
        top: 0;
        border: 1px solid red;
        background-color: rgba(39, 36, 36, 0.185);
        display: none;
    
        #fiveDay{
            position: absolute;
            top: 40%;
            left: 10%;
            right: 10%;
            
    
            #fiveDayItem{
                width: 20%;
                display: inline-block;
                text-align: center;
    
            }
            
        }
    }
}